<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.sonictaxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bg"
        android:label="Sonic Taxi"
        android:roundIcon="@drawable/ic_ride"
        android:supportsRtl="true"
        android:theme="@style/Theme.SonicTaxi">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".DriverLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerActivity"
            android:exported="false" />
        <activity
            android:name=".DriverActivity"
            android:exported="false" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>